sqlite3:
  adapter: sqlite3
  database: honor.sqlite3

mysql:
  adapter: mysql2
  hostname: localhost
  username: root
  password:
  database: honor
  charset: utf8
  
postgresql:
  adapter: postgresql
  hostname: localhost
  username: postgres
  password:
  database: honor
  encoding: utf8
